  /** SPINNER CREATION **/
  .loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  /** MODAL STYLING **/
  .modal-content {
    border-radius: 0px;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
  }
  .modal-backdrop.show {
    opacity: 0.75;
  }
  .loader-txt p {
    font-size: 13px;
    color: #666;
  }
  .loader-txt p small {
    font-size: 11.5px;
    color: #999;
  }
  /*
  #output {
    padding: 25px 15px;
    background: #222;
    border: 1px solid #222;
    max-width: 350px;
    margin: 35px auto;
    font-family: 'Roboto', sans-serif !important;
  }
  #output p.subtle {
    color: #555;
    font-style: italic;
    font-family: 'Roboto', sans-serif !important;
  }
  #output h4 {
    font-weight: 300 !important;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif !important;
  }
  #output p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9em;
  }
  #output p b {
    text-transform: uppercase;
    text-decoration: underline;
  }
  */